<header>
    <div class="header-content">
        <div class="header-content-inner">
          <div class="container">
            <h1> this is the details of book</h1>
            <h1> Title : <%= @book.title %> </h1>
            <h1> Content : <%= @book.content %> </h1>
            <%= link_to "Back", books_path %>
          </div>
        </div>
    </div>
</header>
